<nav class="navbar navbar-expand-lg bg-ligth" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <div class="imagen"><img src="../assets/Logo.jpg" width="200" height="200" alt=""></div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Peliculas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="2022">2022</a></li>
            <li><a class="dropdown-item" href="2021">2021</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>   
<h1 class="text-center"  >En Busca De La Felicidad <br> </h1>
                <div class="text-center"> <img src="../assets/enbusca.jpg"  width="300" height="500"  alt="..."> </div>
        <p class="text-center p-3">
            Película estrenada en el 2008, basada en su protagonista llamado Chris Gardner, un joven padre de familia, luchador y trabajador,<br> 
            a pesar de esto su vida es difícil, nunca ha podido tener un trabajo estable y pasa los días sobreviviendo. Su mujer en cambio,<br>
            no estuvo de acuerdo con la forma en que Chris se gana la vida, así que decide abandonarlo a él y a su hija  de cinco años.<br>
            En este momento la vida de ellos cambia drásticamente, su vida va cambiar drásticamente ya que la casa donde viven será embargada,<br>
            a pesar de esto el lucho por su hijo convirtiéndose en la fuerza para superar los obstáculos de la vida.
        </p>

        <main>
            <div class="container-xxl">
                <div class="d-flex flex-wrap justify-content-md-between justify-content-center" title="Divergente">
                    <div class="imagen-actor m-3">
                        <img src="../assets/21.jpg" width="150" height="200" alt="">
                        <h4>Will Smith</h4>
                        <h6>Chris Gardner</h6>
                    </div>
                    <div class="imagen-actor m-3">
                        <img src="../assets/22.jpg" width="150" height="200" alt="">
                        <h4>Jaden Smith</h4>
                        <h6>Christopher Gardner Jr.</h6>
                    </div>
                    <div class="imagen-actor m-3">
                        <img src="../assets/25.jpg" width="150" height="200" alt="">
                        <h4>Thandie Newton</h4>
                        <h6>Linda Gardner</h6>
                    </div>
                    <div class="imagen-actor m-3">
                        <img src="../assets/23.jpg" width="150" height="200" alt="">
                        <h4>Brian Howe</h4>
                        <h6>Jay Twistle</h6>
                    </div>
                    <div class="imagen-actor m-3">
                        <img src="../assets/24.jpg" width="150" height="200" alt="">
                        <h4>Takayo Fischer</h4>
                        <h6>Mrs. Chu</h6>
                    </div> 
                    
                </div>
            </div>
        </main>

        <div class="text-center p-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rxtGMH7OrLc?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
<form class="text-center p-5">
<div class="form-group" class="text-center p-5">
<label for="exampleFormControlTextarea1">comentarios</label>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<button type="submit "  class="btn btn-success">Enviar</button>
</form>
<footer>

<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
© 2023 Copyright:
<a class="text-dark text-decoration-none"   class="text-center" href="">Hecho por Mariana Forero Tecano, Alejandro Lopez, Ivan de Leon</a>
</div>

</footer> 
