
            <nav class="navbar navbar-expand-lg bg-ligth" >
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"> <div class="imagen"><img src="../assets/Logo.jpg" width="200" height="200" alt=""></div></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Peliculas
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="2022">2022</a></li>
                          <li><a class="dropdown-item" href="2021">2021</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </ul>
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                  </div>
                </div>
              </nav>   
    <h1 class="text-center"  >Divergente</h1>
    <div class="text-center"> <img src="../assets/divergente.jpg"  width="300" height="500"  alt="..."> </div>
    <p class="text-center p-3" >
    Divergente es una película estrenada en el año 2014, relatada desde una sociedad futura, basada en una ciudad llena de paz y dividida en facciones, <br>
    cada miembro de esta sociedad tiene la posibilidad de entrar alguno de estas cinco facciones cuando se cumple la edad de dieciséis años, para poder <br> 
    acceder se debe realizar una prueba, permitiendo a cada joven decidir en qué facción quiere perteneces, cada facción va conectar con la virtud que <br> 
    tiene cada persona. La protagonista de esta película es Beatrice Prior, al momento de cumplir la edad requerida para la prueba ella descubre que es <br>
    diferente, es divergente, hace que ella sea especial ya que existen muy pocos personas con sus características y virtudes, al ser diferente no puede <br>
    ser conocido por nadie. Al momento de escoger la facción tomo como decisión Osadia. En esta facción se hizo llamar Tris, en esta facción conoció muchas <br>
    personas, conoce un chico que se hace llamar Cuatro, el cual con el tiempo le mostro que es diferente, es divergente. Descubrieron que la erudita de la <br>
    sociedad quería destruir a todos los divergentes, por lo que juntos decidió descrubrir el plan que tenia Jeanine la erudita que hace que los divergentes <br>
    fueran especiales para ella y tendrían que destruirlos.
    </p>
    
    <main>
        <h1 class="text-center">Reparto</h1>
        <div class="container-xxl">
            <div class="d-flex flex-wrap justify-content-md-between justify-content-center" title="Divergente">
                <div class="imagen-actor m-3">
                    <img src="../assets/1.jpg" width="150" height="200" alt="">
                    <h4>Shailene Woodley</h4>
                    <h6>Beatrice Prior</h6>
                </div>
                <div class="imagen-actor m-3">
                    <img src="../assets/2.jpg" width="150" height="200" alt="">
                    <h4>Theo James</h4>
                    <h6>Tobias Eaton, Four</h6>
                </div>
                <div class="imagen-actor m-3">
                    <img src="../assets/3.jpg" width="150" height="200" alt="">
                    <h4>Miles Teller</h4>
                    <h6>Peter</h6>
                </div>
                <div class="imagen-actor m-3">
                    <img src="../assets/4.jpg" width="150" height="200" alt="">
                    <h4>Zoë Kravitz</h4>
                    <h6>Christina</h6>
                </div>
                <div class="imagen-actor m-3">
                    <img src="../assets/5.jpg" width="150" height="200" alt="">
                    <h4>Ansel Elgort</h4>
                    <h6>Caleb Prior</h6>
                </div>
                
            </div>
        </div>
    </main>
    
    <div class="text-center p-2 ">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/853LDxEaf2k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen  ></iframe>
    </div>
    <form class="text-center p-5">
    <div class="form-group" class="text-center p-5">
        <label for="exampleFormControlTextarea1">comentarios</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    
    <button type="submit "  class="btn btn-success">Enviar</button>
 </form>
    <footer>
          
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark text-decoration-none"   class="text-center" href="">Hecho por Mariana Forero Tecano, Alejandro Lopez, Ivan de Leon</a>
        </div>
        
    </footer> 