<nav class="navbar navbar-expand-lg bg-ligth" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <div class="imagen"><img src="../assets/Logo.jpg" width="200" height="200" alt=""></div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Peliculas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="2022">2022</a></li>
            <li><a class="dropdown-item" href="2021">2021</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>   
<h1 class="text-center"  >Perfume</h1>
        <div class="text-center"> <img src="../assets/El perfume.jpg"  width="300" height="500"  alt="..."> </div>
        <p class="text-center p-3">
          Francia, mediados del siglo XVIII. Jean Baptiste Grenouille es un joven que ha tenido una vida muy dura. Nacido entre los apestosos hedores de pescado podrido en un pequeño mercado, vio a una edad muy temprana cómo su madre le abandonaba en la basura. Poco después, gracias a la mediación de las autoridades, pasó por numerosos hospicios donde su personalidad retraída le llevó a tener varios problemas;  incluso sus compañeros le intentarón matarle aterrados por la gran diferencia que los separaba de ellos: Grenouille no olía a nada. 

          El protagonista ha conseguido suplir esta extraña característica con un sentido del olfato extraordinario, gracias al cual conseguirá empezar a ganarse la vida. De este modo terminará trabajando con Bandini, un viejo perfumista que le enseña todo lo que sabe, que es mucho, sobre las esencias. Su obsesión por los olores crece hasta el punto de ser enfermiza y querer hacerse con la esencia de las mujeres, y esta pasión le llevará al extremo de convertirse en un asesino en serie, que oculto en la noche secuestrará a varias pobres incautas y las utilizará para dar forma a sus creaciones.
          
          Lujosa adaptación del famoso best-seller de Patrick Süskind.
        </p>

        <main>
            <div class="container-xxl">
                <div class="d-flex flex-wrap justify-content-md-between justify-content-center" title="perfume">
                    <div class="imagen-actor m-3">
                        <img src="../assets/Alan Rickman.jpg" width="150" height="200" alt="">
                        <h4>Alan Rickman</h4>   
                    </div>
                    <div class="imagen-actor m-3">
                        <img src="../assets/Ben WhishawJean.jpg" width="150" height="200" alt="">
                        <h4>Ben WhishawJean</h4>
                        
                    </div>
                    <div class="imagen-actor m-3">
                        <img src="../assets/Rachel Hurd.jpg" width="150" height="200" alt="">
                        <h4>Rachel Hurd</h4>
                    </div>
                    <div class="imagen-actor m-3">
                        <img src="../assets/Dustin Hoffman.jpg" width="150" height="200" alt="">
                        <h4>Dustin Hoffman</h4>
                    </div>
                    <div class="imagen-actor m-3">
                        <img src="../assets/Karoline Herfurth.jpg" width="150" height="200" alt="">
                        <h4>Karoline Herfurth</h4>
                    </div>
                    
                </div>
            </div>
        </main>
        <div class="text-center p-3">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/9WU_s8q2eQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
<form class="text-center p-5">
<div class="form-group" class="text-center p-5">
<label for="exampleFormControlTextarea1">comentarios</label>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<button type="submit "  class="btn btn-success">Enviar</button>
</form>
<footer>

<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
© 2023 Copyright:
<a class="text-dark text-decoration-none"   class="text-center" href="">Hecho por Mariana Forero Tecano, Alejandro Lopez, Ivan de Leon</a>
</div>

</footer> 
