  
  <div class="container w-25 p-2"> 
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner p-4">
        <a routerLink="/pelicula">
          <div class="carousel-item active">
              <div class="text-center"> <img src="../assets/divergente.jpg"  class="img-fluid"   alt="Divergente" title="Divergente"> </div> 
            </div>
          </a>
        
         <a routerLink="/mario">
          <div class="carousel-item">
              <div class="text-center"> <img src="../assets/mario.jpg" class="img-fluid"   alt="..." title="mario bros movie"> </div>
            </div>
         </a> 
         <a routerLink="/siete_almas">
          <div class="carousel-item">
              <div class="text-center"> <img src="../assets/siete.jpg" class="img-fluid"   alt="..." title="siete almas"> </div>
            </div>
         </a>
         <a routerLink="/walle">
          <div class="carousel-item">
              <div class="text-center"> <img src="../assets/walle.jpg" class="img-fluid"  alt="..." title="walle"> </div>
            </div>
         </a>
         <a routerLink="/busca_felicidad">
          <div class="carousel-item">
              <div class="text-center"> <img src="../assets/enbusca.jpg" class="img-fluid"  alt="..." title="en busca de la felicidad"> </div>
            </div>
         </a >
         <a routerLink="/Interestelar">
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/Interestelar.jpg" class="img-fluid"  alt="..." title="Interestelar"> </div>
        </div>
         </a>
         <a routerLink="/Expreso">
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/El expreso polar.jpg" class="img-fluid"  alt="..." title="El expreso polar"> </div>
        </div>
        </a>
        <a routerLink="/cloud_Atlas">
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/CloudAtlas.jpg" class="img-fluid"  alt="..." title="Cloud Atlas"> </div>
        </div>
       </a>
       <a routerLink="/El_Castillo_Ambulante">
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/El castillo ambulante.jpg" class="img-fluid"  alt="..." title="El castillo ambulante"> </div>
        </div>
      </a>
      <a routerLink="/perfume">
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/El perfume.jpg" class="img-fluid"  alt="..." title="El perfume"> </div>
        </div>
      </a>
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/Predestinacion.jpg" class="img-fluid"  alt="..." title="Predestinacion"> </div>
        </div>
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/El efecto mariposa.jpg" class="img-fluid"  alt="..." title="El efecto mariposa"> </div>
        </div>
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/Dune.jpg" class="img-fluid"  alt="..." title="Duna"> </div>
        </div>
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/Halloween_El_final.jpg" class="img-fluid"  alt="..." title="Halloween el final"> </div>
        </div>
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/Atrapame si puedes.jpg" class="img-fluid"  alt="..." title="Atrápame si puedes"> </div>
        </div>
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/lamilla.jpg" class="img-fluid"  alt="..." title="la milla verde"> </div>
        </div>
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/dejame.jpg" class="img-fluid"   alt="..." title="dejame salir"> </div>
        </div>
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/fragmentado.jpg" class="img-fluid"  alt="..." title="fragmentado"> </div>
        </div>
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/nores.jpg" class="img-fluid"   alt="..." title="no respires"> </div>
        </div>
        <div class="carousel-item">
          <div class="text-center"> <img src="../assets/Abre.jpg" class="img-fluid"   alt="..." title="abre los ojos"> </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> 
  </div>
  