/* You can add global styles to this file, and also import other style files */
.fondo{
    background-image: url(assets/background.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagen:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
h4 {
font:oblique bold 120% coursive;

}
h1{
    text-align: center;
}