<h1  class="p-2" class="text-center">Peliculas Recomendadas</h1>
  <main>
    <div class="container-xxl">
      
        <div class="d-flex flex-wrap justify-content-md-between justify-content-center" title="Divergente">
        
          <div class="imagen-pelicula m-3">
                <a routerLink="/Divergente"  >
                  <div class="imagen">
                    <img src="../assets/divergente.jpg" width="200" height="300" alt="divergente">
                  </div>
                </a>
                <button type="button" (click)="irAPagina()" class="btn btn-ligth">Divergente</button>
                <h4>Divergente</h4>
            </div>
            <div class="imagen-pelicula m-3 ">
                <a routerLink="/mario" >
                  <div class="imagen">
                    <img src="../assets/mario.jpg" width="200" height="300" alt="Mario Bros Movie" title="mario bros movie">
                  </div>
                </a>
                <h4>Mario Bros movie</h4>
            </div>
            <div class="imagen-pelicula m-3">
                <a routerLink="/siete_almas" >
                  <div class="imagen">
                    <img src="../assets/siete.jpg" width="200" height="300" alt="siete almas" title="siete almas">
                  </div>
                </a>
                <h4>Siete almas</h4>
            </div>
            <div class="imagen-pelicula m-3">
                <a routerLink="/walle" >
                  <div class="imagen">
                    <img src="../assets/walle.jpg" width="200" height="300" alt="walle">
                  </div> 
                </a>
                <h4>Walle</h4>
            </div>
            <div class="imagen-pelicula m-3">
                <a routerLink="/busca_felicidad" >
                  <div class="imagen"><img src="../assets/enbusca.jpg" width="200" height="300" alt="en busca de la felicidad">
                  </div>
                </a>
                <h4>En busca de la felicidad</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <a routerLink="/Interestelar" >
              <div class="imagen"><img src="../assets/Interestelar.jpg" width="200" height="300" alt="Interestelar">
              </div>
            </a>
              <h4>Interestelar</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <a  routerLink="/Expreso" >
              <div class="imagen"><img src="../assets/El expreso polar.jpg" width="200" height="300" alt="El expreso polar">
              </div>
              </a>
              <h4>El expreso polar</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <a routerLink="/cloud_Atlas" >
              <div class="imagen"><img src="../assets/CloudAtlas.jpg " width="200" height="300" alt="Cloud Atlas">
              </div>
              </a>
              <h4>Cloud Atlas</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <a routerLink="/El_Castillo_Ambulante" >
              <div class="imagen"><img src="../assets/El castillo ambulante.jpg" width="200" height="300" alt="El castillo ambulante">
              </div>
              </a>
              <h4>El castillo ambulante</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <a routerLink="/perfume" >
              <div class="imagen"><img src="../assets/El perfume.jpg" width="200" height="300" alt="El perfume">
              </div>
              </a>
              <h4>El perfume</h4>
            </div>
            <div class="imagen-pelicula m-3 ">
              <div class="imagen">
                <img src="../assets/lamilla.jpg" width="200" height="300" alt="la milla verde" >
              </div>
                <h4>La milla verde</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <div class="imagen">
                <img src="../assets/dejame.jpg" width="200" height="300" alt="dejame salir">
              </div>
                <h4>Dejame salir</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <div class="imagen">
                <img src="../assets/fragmentado.jpg" width="200" height="300" alt="fragmentado">
              </div>
                <h4>Fragmentado</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <div class="imagen">
                <img src="../assets/nores.jpg" width="200" height="300" alt="no respires">
              </div>
                <h4>No respires</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <div class="imagen"><img src="../assets/Abre.jpg" width="200" height="300" alt="abre los ojos">
              </div>
              <h4>Abre los ojos</h4>
           </div>
            <div class="imagen-pelicula m-3">
              <div class="imagen">
                <img src="../assets/Predestinacion.jpg" width="200" height="300" alt="Predestinación">
              </div>
              <h4>Predestinación</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <div class="imagen">
                <img src="../assets/El efecto mariposa.jpg" width="200" height="300" alt="El efecto mariposa">
              </div>
              <h4>El efecto mariposa</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <div class="imagen">
                <img src="../assets/Dune.jpg" width="200" height="300" alt="Duna">
              </div>
              <h4>Duna</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <div class="imagen">
                <img src="../assets/Halloween_El_final.jpg" width="200" height="300" alt="Halloween el final">
              </div>
              <h4>Halloween el final</h4>
            </div>
            <div class="imagen-pelicula m-3">
              <div class="imagen">
                <img src="../assets/Atrapame si puedes.jpg" width="200" height="300" alt="Atrápame si puedes">
              </div>
              <h4>Atrápame si puedes</h4>
            </div>
        </div>
        
    </div>
</main>

<div>
<!--Formulario contacto-->
<div class="container">
<div class="abs-center">
  <form class="formulario">
      <h4>Formulario de contacto</h4>
      <div class="row">
          <div class="form-group col-md-6">
              <label for="inputName">Nombres</label>
              <input type="text" class="form-control" id="inputName" placeholder="Nombres">
          </div>
          <div class="form-group col-md-6">
              <label for="inputLastName">Apellidos</label>
              <input type="text" class="form-control" id="inputLastName" placeholder="Apellidos">
          </div>
      </div>
      <div class="form-group">
          <label for="inputPhone">Telefono de contacto</label>
          <input type="text" class="form-control" id="inputPhone" placeholder="Telefono">
      </div>
      <div class="form-group">
          <label for="inputAffair">Asunto</label>
          <input type="text" class="form-control" id="inputAffair" placeholder="Asunto">
      </div>
      <div class="form-group">
          <label for="exampleFormControlTextarea1">Mensaje</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                  Verificar
              </label>
          </div>
      </div>
      <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
</div>
</div>
<!--Fin-->
